*{
    margin: 0;
    padding: 0;
}

.cabeçalho {
background-color: rgb(33, 94, 99);
color: #0ef835;
display: flex;
justify-content: space-around;
align-items: center;
padding: 24px 0;

}

.cabeçalho-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 42px;
}


.img-cabeçalho{
width: 10%;

}